.cropgif {
  margin: 40px;
  border-radius: 10px;
  text-align: left;
  bottom: 0;
  position: absolute;
  left: 0;
}
.dropbtn {
  background-color: #ffffff;
  color: #999999;
  padding: 16px;
  font-size: 16px;
  font-family: arial;
  border: none;
}
.animatelogo { 
  animation:animatetop 1.0s;
}@keyframes animatetop{
  from {
    opacity:0;
	top:-20px;
  } to {
    opacity:1
	top:0;
  }
}
.animateguide { 
  position: relative;
  animation:animatetop 1.8s;
}@keyframes animatetop{
  from {
    opacity:0;
	top:-10px;
  } to {
    opacity:1;
	top:0px;
  }
}
.widget {
  border-radius: 10px;
  bottom: 0;
}
.dbl {
  border-radius: 5px;
  margin: 3px;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: "Arial";
  text-align: center;
  color: white;
}
h1 {
  font-family: "Helvetica";
  text-align: center;
}
h2 {
  font-family: "Helvetica";
  text-align: center;
}
h3 {
  font-family: "Helvetica";
  text-align: center;
}
h4 {
  font-family: "Helvetica";
  text-align: center;
  }
h5 {
  font-family: "Helvetica";
  text-align: center;
}
a {
  font-family: "Helvetica";
}

.left {
  position: absolute;
  right: 0;
}
.right {
  text-align: right;
  bottom: 0;
  position: absolute;
  right: 0;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #36393e;
}
/* .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 10%;
  width: 100%;
  background-color: #36393e;
  color: #ffffff;
  text-align: center;
} */
html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 5%;
  width: 100%;
  background-color: #36393e;
  color: #ffffff;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
