table, th, td {
 border-collapse: collapse;
 border-bottom: 1px solid #ddd;
}
.cropgif {
	margin: 10px auto;
  border: 10px outset #ddd;
  text-align: right;
  bottom: 0;
  position: absolute;
  right: 0;
}
th, td {
  padding: 10px;
  font-size: 20px;
	font-family: "Helvetica";
}
.rss {
  text-align: center;
  font-size: 25px;
}
th {
  text-align: left;
  font-size: 25px;
}
.centernomargin {
  position: fixed;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
p {
	font-family: "Arial";
	text-align: center;
  color: white;
}
h1 {
	font-family: "Helvetica";
	text-align: center;
}
h2 {
	font-family: "Helvetica";
  text-align: center;
}
h3 {
	font-family: "Helvetica";
	text-align: center;
}
h4 {
	font-family: "Helvetica";
	text-align: center;
	}
h5 {
	font-family: "Helvetica";
	text-align: center;
}
a {
	font-family: "Helvetica";
}
.navtext {
  font-size: 18px;
}
.active {
    color: #999999;
}
ul {
  list-style-type: none;
  margin: -8px;
  padding: 0px;
  overflow: hidden;
  background-color: #222222;
}
.gray {
  color: #222222;
  font-size: 18px;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.left {
  position: absolute;
  right: 0;
}
.faq {
  text-align: left;
  color: #000000;
  margin: 20px;
}
.right {
  text-align: right;
  bottom: 0;
  position: absolute;
  right: 0;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #36393e;
}
/* .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 10%;
  width: 100%;
  background-color: #36393e;
  color: #ffffff;
  text-align: center;
} */
html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: black;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 5%;
  width: 100%;
  background-color: #36393e;
  color: #ffffff;
  text-align: center;
}
.push {
  height: 50px;
}
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a:link {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}
.small {
  font-family: "Times New Roman";
  text-align: center;
  font-size: 14px;
/*   position: absolute; */
}
.customized{
  line-height: 0.1;
  font-family: "Arial Black";
  text-align: center;
  color: #353535;
}
.url {
  color: #555555;
}
url:visited {
  color: #555555;
}
.sticky {
  position: fixed;
  top: 5px;
  width: 100%;
}
